@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orhan</title>
</head>
<body>
    <p>Burası Orhan View'i</p>
    <p>Gelen değer:  @ViewBag.Deger</p>
    <p>Gelen isim:  @ViewBag.Ad</p>
    @if (ViewBag.Saat > 12)
    {
        <p>İyi günler</p>
    }
    else if(ViewBag.Saat < 12)
    {
        <p>Günaydın</p>
    }
    <a asp-action="Kayit" asp-controller="Kullanici" >Kullanıcı Kayıt</a>
</body>
</html>
