
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Orhan</title>
</head>
<body>
    <p>Burası Orhan View'i</p>
    <p>Gelen değer:  @ViewBag.Deger</p>
    <p>Gelen isim:  @ViewBag.Ad</p>

</body>
</html>
